<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>随时随地发现新鲜事</title>
        
		<link href="css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/font-awesome.min.css" rel="stylesheet"/>
		<link href="css/linearicons.css" rel="stylesheet"/>
        <link href="css/owl.carousel.css" rel="stylesheet"/>
        <link href="css/owl.theme.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="images/promo-logo.png"/> 
		<link href="css/style.css" rel="stylesheet"/>
		<link href="css/responsive.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600,300,200' rel='stylesheet' type='text/css'/>
	</head>	
    
    <body data-spy="scroll" data-target=".nav-top"> 
        <header id="home" data-spy="scroll" data-target="#top-nav">
	        <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <a class="navbar-brand default-logo scroll" href="#home"><img src="images/promo-logo.png" alt="logo" /> Chinese Tea,Anji</a>
	                </div> 
	
	                <div class="collapse navbar-collapse top-nav" id="menu-4">
	                    <ul class="nav navbar-nav navbar-right"> 
	                        <li><a class="scroll" href="index.html">主页</a></li>
	                        <li><a class="scroll" href="discovery.html">发现</a></li>
	                        <li><a class="scroll" href="#team">在线商城</a></li>
	                        <li><a class="scroll" href="#contact">关于我们</a></li>
	                        <li><button type="button" class="btn btn-default navbar-btn">登录|注册</button></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </header>
        <section class="intro">
            <div class="container">
                <div class="intro-content">
                    <h1>程序员正在熬夜开发中，请稍侯。。。</h1>
                </div>
            </div>
        </section>
        
        <script src="js/jquery-2.1.1.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>