<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>中国·安吉</title>
        
		<link href="css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/font-awesome.min.css" rel="stylesheet"/>
		<link href="css/linearicons.css" rel="stylesheet"/>
        <link href="css/owl.carousel.css" rel="stylesheet"/>
        <link href="css/owl.theme.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="images/promo-logo.png"/> 
		<link href="css/style.css" rel="stylesheet"/>
		<link href="css/responsive.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600,300,200' rel='stylesheet' type='text/css'/>
	</head>	
    
    <body data-spy="scroll" data-target=".nav-top"> 
        <header id="home" data-spy="scroll" data-target="#top-nav">
        <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand default-logo scroll" href="#home"><img src="images/promo-logo.png" alt="logo" /> Chinese Tea,Anji</a>
                </div> 

                <div class="collapse navbar-collapse top-nav" id="menu-4">
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><a class="scroll" href="index.html">主页</a></li>
                        <li><a class="scroll" href="discovery.html">发现</a></li>
                        <li><a class="scroll" href="#team">在线商城</a></li>
                        <li><a class="scroll" href="#contact">关于我们</a></li>
                        <li><button type="button" class="btn btn-default navbar-btn">登录|注册</button></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>
        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="intro-content">
                            <h1>欢迎来到 中国·安吉</h1>
                            <p>安吉，是浙江北部一个极具发展特色的生态县，是联合国人居奖唯一获得县、中国首个生态县、全国首批生态文明建设试点地区、国家可持续发展实验区、全国首批休闲农业与乡村旅游示范县、中国金牌旅游城市唯一获得县，有中国第一竹乡、中国白茶之乡、中国椅业之乡、中国竹地板之都美誉，被评为全国文明县城、全国卫生县城、美丽中国最美城镇。</p>
                            <a class="btn btn-default" href="#" role="button">安吉白茶 <i class="lnr lnr-arrow-right"></i></a>
                            <a class="btn btn-primary" href="#" role="button">旅游观光 <i class="lnr lnr-arrow-right"></i></a>
                            <div><i class="fa fa-caret-down"></i></div>    
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div><img src="images/intro-image2.png" class="img-responsive" alt="intro-image"/></div>
                    </div>    
                </div>
            </div>
        </section>
        
        <script src="js/jquery-2.1.1.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>